<h1>Expense#new</h1>

<%= form_with model: @expense, url: category_expenses_path, local: true do |form| %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :amount %>
    <%= form.number_field :amount, step: '0.01' %>
  </div>

  <div>
    <%= form.submit 'Add Expense' %>
  </div>

<% end %>
